#
# Common
#

# General
setuptools==41.0.0
requests==2.25.0

# Depots
hvac==0.9.5
minio==4.0.18
dulwich==0.19.11
paramiko==2.6.0

# YAML parsing
PyYAML==5.4.1
ruamel.yaml==0.16.10

# Templating and formatting
Jinja2==2.10.1
markdown2==2.3.6
inscriptis==0.0.4.0

# XML parsing
defusedxml==0.6.0
elementpath==2.0.3

# Modules
python-gitlab==1.12.1
psycopg2==2.8.4
python-jenkins==1.5.0
lupa==1.8
pika==1.1.0

# Events and RPCs
arbiter @ git+https://github.com/carrier-io/arbiter.git#egg=arbiter

#
# Scanning
#

# ZAP
python-owasp-zap-v2.4==0.0.14

# Qualys
dotted==0.1.8

# Nikto
defusedxml==0.6.0

# PT AI
beautifulsoup4==4.8.0

# Dependency Check
jsonpath-rw==1.4.0

# Safety
packaging==20.4

#
# Reporting
#

# Loki
python-logging-loki==0.1.0

# Influx
influxdb==5.2.0

# Jira
jira==2.0.0

# JUnit
junit-xml==1.8

# Redis
redis==3.0.1

# ReportPortal
reportportal-client==5.0.5
